.list-container::-webkit-scrollbar {
  width: 6px;
  border-radius: 15px
}

.list-container::-webkit-scrollbar-track {
  background: #ffffff;
}

.list-container::-webkit-scrollbar-thumb {
  background: #bfbebe;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}